.bestSellers {
  padding: 2rem;
}

.bestSellersTitle {
margin-bottom: 2rem;
font-size: 1.5rem;
}


.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.loading,
.error {
  text-align: center;
  margin-top: 3rem;
  color: red;
  font-size: 1.3rem;
}
